<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/tour.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/contact.css') }}">

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
            referrerpolicy="no-referrer"/>

        <title>Nose Ghost | Official Website</title>
        <!--<meta name="description" content="">-->
    </head>
    <body>
        <main>
            <header>
                <img class="only-mobile" id="ng-logo" src="{{ url_for('static', filename='images/logo-small.png')}}">
                <img class="only-desktop" id="ng-logo" src="{{ url_for('static', filename='images/logo-large.png')}}">
                
                
                <div id="header-links">
                    <div id="social-and-nav-links">
                        <div id="social-links">
                            <a class="social-link fa-brands fa-spotify" href="https://open.spotify.com/artist/0Vqti19iperDl11P2PJm1z?si=ijvsofsWShOaOxQ091EjSA" target="_blank"></a>
                            <a class="social-link fa-brands fa-itunes-note" href="https://music.apple.com/us/artist/nose-ghost/1755930902" target="_blank"></a>
                            <a class="social-link fa-brands fa-youtube" href="https://youtube.com/@nose_ghost?si=ywrEOC1qKlrTGesD" target="_blank"></a>
                            <a class="social-link fa-brands fa-instagram" href="https://www.instagram.com/nose.ghost.band?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"></a>
                        </div>

                        <nav id="nav-bar">
                            <a class="nav-item selected"  href="{{ url_for('index')}}">HOME</a>
                            <a class="nav-item" href="{{ url_for('about')}}">ABOUT</a>
                            <a class="nav-item" href="{{ url_for('videos')}}">VIDEOS</a>
                            <a class="nav-item" href="{{ url_for('gallery')}}">GALLERY</a>
                        </nav>
                    </div>
                    
                    
                    <nav id="ham-menu-nav">
                        <div id="ham-menu">
                            <span id="ham-layer1"></span>
                            <span id="ham-layer2"></span>
                            <span id="ham-layer3"></span>
                        </div>
                    </nav>
                </div>
            </header>

            <hr>
            <img class="only-mobile" id="main-photo" src="{{ url_for('static', filename='./images/all-orford-house.webp')}}">
            
            <div id="new-release">
                <h2>NEW SINGLE OUT NOW</h2>
                <br>
                <div id="new-release-image-and-video">
                    <a id="new-release-link" href="https://open.spotify.com/album/3SJEZyQHqObgt4Y3Ial37B?si=-nLr0t9xTbadtpwG6Iciew" target="_blank"><img id="new-release-image" src="{{ url_for('static', filename='images/anaconda-cover.webp')}}"></a>
                    <iframe id="new-release-yt-embed" src="https://www.youtube.com/embed/p5rTlNHpR_I?si=pF8eDpOid4F7Fi27&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>

            <hr>
            <br>

            <div id="tour">
                <div class="gigs">
                    <h2>Upcoming Gigs</h2>
                    <br>
                    {% if gigs['current-gigs'] %}
                        {% for gig in gigs["current-gigs"] %}
                            <a href="{{ gigs['current-gigs'][gig]['ticket-link'] }}" target="_blank" class="gig-card current-gig">
                                <div class="gig-card-content">
                                    <div class="venue-and-date only-mobile">
                                        <h3>{{ gigs['current-gigs'][gig]['venue'] }}</h3>
                                        <p>{{ gigs['current-gigs'][gig]['date'] }} - {{ gigs['current-gigs'][gig]['location'] }}</p>
                                    </div>

                                    <h3 class="only-desktop">{{ gigs['current-gigs'][gig]['venue'] }}</h3>
                                    <p class="only-desktop">{{ gigs['current-gigs'][gig]['date'] }}</p>
                                    <p class="only-desktop">{{ gigs['current-gigs'][gig]['location'] }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p>No gigs for now. Stay tuned.</p>
                    {% endif %}
                </div>
                <h3>Past gigs</h3>
                <div class="gigs" id="past-gigs">
                    {% for gig in gigs["past-gigs"] %}
                        <div href="{{ gig['ticket-link'] }}" target="_blank" class="gig-card past-gig">
                            <div class="gig-card-content">
                                <div class="venue-and-date only-mobile">
                                    <h3>{{ gigs['past-gigs'][gig]['venue'] }}</h3>
                                    <p>{{ gigs['past-gigs'][gig]['date'] }} - {{ gigs['past-gigs'][gig]['location'] }}</p>
                                </div>

                                <h3 class="only-desktop">{{ gigs['past-gigs'][gig]['venue'] }}</h3>
                                <p class="only-desktop">{{ gigs['past-gigs'][gig]['date'] }}</p>
                                <p class="only-desktop">{{ gigs['past-gigs'][gig]['location'] }}</p>
                            </div>
                            <!--
                            <div class="gig-card-extra-content">
                                {% if gigs['past-gigs'][gig]['poster-filename'] %}
                                    <img class="gig-poster" src="{{ url_for('static', filename='images/posters/' ~ gigs['past-gigs'][gig]['poster-filename']) }}">
                                {% endif %}

                            </div>
                            <i class="expand-gig-icon fa-solid fa-chevron-down"></i>
                            -->
                        </div>
                    {% endfor %}
                </div>

                <p id="view-more">View more <i class="fa-solid fa-chevron-down"></i></p>
            </div>
            <hr>
            <br>

            <form id="contact" action="{{ url_for('index') }}" method="POST">
                <h2>Contact Us</h2>
                <p>For gig booking or general enquiries, contact us here or DM us on <a href="https://www.instagram.com/nose.ghost.band" target="_blank">Instagram</a>.</p>
                <div id="name-and-email">
                    <input type="text" placeholder="Name" name="name" id="contact-name">
                    <input type="text" placeholder="Email" name="email" id="contact-email">
                </div>
                <br>
                <textarea style="width:calc(100% - 20px);" placeholder="Message" name="message" id="contact-message"></textarea>
                <br>
                <button type="submit">Send</button>

            </form>
            
            <br>
        </main>

        <hr>
        <footer>
            <div id="footer-social-links">
                <a class="social-link fa-brands fa-spotify" href="https://open.spotify.com/artist/0Vqti19iperDl11P2PJm1z?si=ijvsofsWShOaOxQ091EjSA" target="_blank"></a>
                <a class="social-link fa-brands fa-itunes-note" href="https://music.apple.com/us/artist/nose-ghost/1755930902" target="_blank"></a>
                <a class="social-link fa-brands fa-youtube" href="https://youtube.com/@nose_ghost?si=ywrEOC1qKlrTGesD" target="_blank"></a>
                <a class="social-link fa-brands fa-instagram" href="https://www.instagram.com/nose.ghost.band?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"></a>
            </div>
        </footer>

    </body>
</html>